<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.ErLoginMapper" >
  <resultMap id="BaseResultMap" type="com.po.ErLogin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="glbm" property="glbm" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="qxjb" property="qxjb" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="GlResultMap" type="com.po.UserExtend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="glbm" property="glbm" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="qxjb" property="qxjb" jdbcType="INTEGER" />
    <association property="ygxx" javaType="com.po.ErYgxx" foreignColumn="gblm" autoMapping="true">
    </association>
    <association property="ygdz" javaType="com.po.ErYgdz" foreignColumn="gblm" autoMapping="true">
    </association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, glbm, userid, password, qxjb
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.po.ErLoginExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from er_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from er_login
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 关联查询 -->
  <select id="selectBygl" resultMap="GlResultMap" parameterType="java.lang.String" >
    select * from er_login left join er_ygxx on er_ygxx.glbm = er_login.glbm
    left join er_ygdz on er_ygdz.glbm = er_login.glbm 
    where er_login.glbm = #{glbm,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据关联编码查找账号密码 -->
  <select id="selectByBlbm"  resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from er_yglogin where glbm = #{glbm,jdbcType=VARCHAR}
  </select>
  
   <select id="checkMsg" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from er_login
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from er_login
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.po.ErLoginExample" >
    delete from er_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.po.ErLogin" >
    insert into er_login (id, glbm, userid, 
      password, qxjb)
    values (#{id,jdbcType=INTEGER}, #{glbm,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{qxjb,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.po.ErLogin" >
    insert into er_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="glbm != null" >
        glbm,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="qxjb != null" >
        qxjb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="glbm != null" >
        #{glbm,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="qxjb != null" >
        #{qxjb,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.po.ErLoginExample" resultType="java.lang.Integer" >
    select count(*) from er_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update er_login
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.glbm != null" >
        glbm = #{record.glbm,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.qxjb != null" >
        qxjb = #{record.qxjb,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update er_login
    set id = #{record.id,jdbcType=INTEGER},
      glbm = #{record.glbm,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      qxjb = #{record.qxjb,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.po.ErLogin" >
    update er_login
    <set >
      <if test="glbm != null" >
        glbm = #{glbm,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="qxjb != null" >
        qxjb = #{qxjb,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.po.ErLogin" >
    update er_login
    set glbm = #{glbm,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      qxjb = #{qxjb,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>